.photo-grid__item-btn {
  min-width: 22px;
  min-height: 19px;
  background-color: #fff;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

.photo-grid__item-btn:hover {
  background-image: url(../../../images/like-hover.svg);
}

.photo-grid__item-btn:active {
  background-image: url(../../../images/like-active.svg);
}
